.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 190px;
  height: 100%;
  background-color: #303030;
}
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar ul li {
  color: #cccccc;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #2a2a2a;
}
.sidebar ul li:hover {
  cursor: pointer;
  background-color: #3093e3;
}
.sidebar ul li i {
  margin-right: 10px;
}
