!!! 5
html
  head
    title Sourcec0de
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //-
       Bootstrap 
    link(href='/public/css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='/public/css/theme.css', rel='stylesheet', media='screen')
    //-
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='../../assets/js/html5shiv.js')
      script(src='../../assets/js/respond.min.js')
  body
    .sidebar
      ul
        li 
          i.icon-home
          | Home
        li 
          i.icon-archive
          | Archive
        li
          i.icon-envelope
          | Contact Me
    .container
      .row
        .jumbotron
          h1 Hello, world!
    //-
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='//code.jquery.com/jquery.js')
    //-
       Include all compiled plugins (below), or include individual files as needed 
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
